# Dependencies
/node_modules

# Production
/build

# Debug
npm-debug.log*

# Editor
.vscode

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
/coverage

# Misc
.DS_Store